# Ignore Python virtual environments and cache directories
.cache/
.uv-cache/
.bun-cache/
*.pyc

server/.venv/
server/app/__pycache__/

client/node_modules/
client/dist/

.codex/
.claude/
.agents/

dev-doc/
dev.md
1.png
2.png
3.png
4.png
5.png
6.png